div {
  border-radius: 5px;
  padding: 10px;
}
button {
  font: 17px Arial;
  font-weight: bold;
}
body {
  background: #f4ecd7;
  font: 25px Arial;
}

h1 {
  font: 25px Arial;
  font-weight: bold;
}

#playerCover {
  width: 60%;
  /* height: 500px; */
  background: #9f9ccc;
}
.playerCover {
  width: 60%;
  /* height: 500px; */
  background: #9f9ccc;
}

#screenName {
  background: #eee;
}
#tracks {
  background: #ddd;
  margin: 5px;
  border: 1px solid red;
}

#play {
  background: green;
}
#stop {
  background: red;
}
#back, #next, .someClass4 {
  background: gold;
}

.someClass {
  background: rgb(110, 134, 185);
}
#weirdId, .someClass2 {
  /* background: #ecd073; */
  background: gold;
  padding: 5px;
  margin: 3px;
}

#bodyForPlayer {
    background: #ccc;
}

#rootDiv {
    /* border: 2px solid purple; */
}